 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

 /* CUMSTOM SCROLLBAR STYLING STARTS */



::-webkit-scrollbar {
  width: 10px;
  height: 25px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

 /* CUMSTOM SCROLLBAR STYLING ENDS */




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

/* NAV BAR SECTION STYLING STARTS */


header {
  position: fixed;
  top: -2;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 0;
  width: 160px;
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }
}  


.nav a {
  margin-left: 40px;
  text-decoration: none;
  color: rgb(4, 19, 28);
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

nav a:hover {
  color: #ddd;
}

.menu-bar {
  fill: rgb(0, 0, 0); /* Change this to your desired color */
}


/* NAVBAR SECTION STYLING ENDS */


/* HOME PAGE SECTION STYLING STARTS */

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("./Images/header-bg.png");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .homepage-content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .homepage-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .homepage-content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.homepage .homepage-content .text .greenText {
    margin-bottom: 50px;
    color: #8bca62;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

.homepage .homepage-content .hopepage-btn {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.homepage .homepage-content .hopepage-btn:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}

@media screen and (max-width: 860px) {

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }
}


@media screen and (max-width: 860px) {

  .homepage .homepage-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .homepage-content .text {
    /* Adjust the font size for smaller screens */
    font-size: 17px;
  }

  .homepage .homepage-content .text .greenText {
    /* Adjust the font size for smaller screens */
    font-size: 17px;
  }
}


/* HOME PAGE SECTION STYLING ENDS */





/* section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
} */

/* section h2 {
  font-size: 2rem;
}

section > p {
  text-align: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}  */




/* ABOUT SECTION STYLING STARTS HERE */


.about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 95%;
  background-color: white;
}

.about .company-info {
  margin-top: 30px;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
}

.about-content {
  flex: 1;
}

.about-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-img {
  max-width: 100%;
  height: auto;
}

.about-image-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Changed margin-left to margin-right */
}

.about-heading-img {
  max-width: 100%;
  height: auto;
  width: 80px;
}

.about .row {
  padding: 0 10px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .about .row {
    flex-direction: column;
  }

  .about-image-container {
    justify-content: center;
  }
}



/* ABOUT SECTION STYLING ENDS HERE */






/* TARGETING A PROBLEM SECTION  STARTS*/

 


.problem-section{
  align-items: center;
  margin-top: 40px;
}


.problem-section h3 {
  padding: 40px;
  color: #333;
  text-align: center;
}

:root {
  --color-text: #fff;
  --color-background: linear-gradient(to right bottom, #ffb88e, #ea5753);
  --color-container: linear-gradient(to right bottom, rgba(255, 184, 142, 0.44), rgba(255, 255, 255, 0.5));
  --color-list: rgba(234, 87, 83, 0.7);
}

.problem-section-list {
  width: 40vw;
  padding: 3rem;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  border-radius: 3rem;
  background: var(--color-container);
}

.problem-section-list::-webkit-scrollbar {
  width: 0;
}

.problem-section-list::before {
  content: "";
  top: -10rem;
  left: -10rem;
  width: 40rem;
  height: 40rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
}

.problem-section-list::after {
  content: "";
  bottom: 0rem;
  right: -10rem;
  width: 40rem;
  height: 40rem;
  margin-bottom: -25rem;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 185, 142, 0.6);
}

.problem-section-list h1 {
  top: 0;
  margin: 0;
  padding: 6rem 0;
  padding-top: 7rem;
  position: sticky;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 3rem;
  box-shadow: 0 7px 2rem #ea5753;
  background: rgba(234, 87, 83, 0.7);
}

.problem-section-list ol {
  margin: 0;
  gap: 1rem;
  padding: 0;
  display: flex;
  list-style: none;
  place-items: center;
  flex-direction: column;
  counter-reset: my-counter;
}

.problem-section-list li {
  width: 40rem;
  text-align: center;
  color: var(--color-text);
  border-radius: 3rem;
  background: var(--color-list);
  counter-increment: my-counter;
  padding: 1.1rem 1.5rem 1.1rem 1.5rem;
}

.problem-section-list li::before {
  content: counter(my-counter) ". ";
}


@media (max-width: 768px) {
  .problem-section-list {
    width: 90vw; 
    padding: 2rem; 
  }
}


/* TARGETING A PROBLEM SECTION ENDS */








/* USE CASES SECTION STYLING STARTS */




/* USE CASES SECTION STYLING ENDS */



 







/* SERVICES SECTION STYLING STARTS */

.services{
  margin-top: 30px;
}

.services-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services-card{
 max-width: 300px;
  min-height: 250px;
  background: #02b875;
  padding: 30px;
   border-radius: 3px;
  box-sizing: border-box;
  color: #FFF;
  margin:20px;
   box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.services-card:nth-child(2){
 background: #4181ee;
}
.services-card:last-child{
 background: #673ab7;
}
.services-card-title{
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.services-card-content{
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.services-card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.services-card-btn i {
  font-size: 20px;

}

.services-card:nth-child(2) .card-btn:hover{
 color:#4181ee;
 background: #FFF;
}
.services-card:last-child .card-btn:hover{
 color:#673ab7;
  background: #FFF;
}


.services .tile {


  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  width: 70%;
  height: 250px;
  margin: 1em;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.services .tile-img {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  width: 15em;
  height: inherit;
  float: left;
}

.services .tile-info {
  height: inherit;
  padding: 1em;
  margin-left: 15em; 
}

.services .tile-info ul{
  height: inherit;
  padding: 1em;
  margin-left: 10px; 
}


@media screen and (max-width: 768px) {
  .services .tile {
    width: 100%;
    margin: 0;
    border-radius: 0; /* You may adjust this based on your design preferences */
    flex-direction: column; /* Update flex-direction to column for vertical stacking */
  }

  .services .tile-img {
    width: 100%;
    height: auto; /* Ensure the image scales proportionally */
    max-height: 200px; /* Set a maximum height for the image */
    margin-bottom: 1em; /* Add margin between image and text on small screens */
  }

  .services .tile-info {
    margin-left: 0;
    text-align: left; /* Center the text on small screens */
    order: -1; /* Move the tile-info element above the image on small screens */
  }

  .services .tile h1 {
    font-size: 20px; /* Adjust font size for better visibility on small screens */
  }

  .services .tile p {
    font-size: 14px; /* Adjust font size for better visibility on small screens */
  }
}




/* SERVICES SECTION STYLING ENDS */




/* JOURNEY SECTION STYLING STARTS */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.journey-section,
.journey-section::before,
.journey-section::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.journey-section {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
  margin-top: 30px;
}

.journey-section h1 {
  text-align: center;
}
.journey-section h3 {
  text-align: center;
}

.journey-unordered-list {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.journey-unordered-list::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.journey-unordered-list li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.journey-unordered-list li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.journey-unordered-list li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 0.95rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.journey-unordered-list li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.journey-unordered-list li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.journey-unordered-list li .title,
.journey-unordered-list li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.journey-unordered-list li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.journey-unordered-list li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.journey-unordered-list li .title::before,
.journey-unordered-list li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.journey-unordered-list li .title::before {
  bottom: calc(100% + 0.125rem);
}

.journey-unordered-list li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .journey-unordered-list {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .journey-unordered-list::before {
    grid-column: 2;
  }
  .journey-unordered-list li:nth-child(odd) {
    grid-column: 1;
  }
  .journey-unordered-list li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .journey-unordered-list li:nth-child(2) {
    grid-row: 2/4;
  }

  .journey-unordered-list li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .journey-unordered-list li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .journey-unordered-list li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

  

/* JOURNEY SECTION STYLING ENDS */












/* USE CASES SECTION STYLUING STARTS */

/* Styling for the background of the USE CASES SECTION */
.uses-cases {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Add any other background styles as needed */
  margin-top: 30px;
}

/* Rest of your existing styling for the USE CASES SECTION */
summary[role=button] {
  background-color: none;
  color: #000000;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

summary[role=button]:hover, summary[role=button]:focus {
  color: #0f0;
}

summary::marker {
  color: #0f0;
}

details {
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 0.25em;
}

details .use-cases-info {
  padding: 0 1em;
}

/* USE CASES SECTION STYLING ENDS */












/* TEAM SECTION STYLING STARTS */



.team {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ecf0f9;
  background-attachment: fixed;
}

.team-content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  padding-top: 80px;
}

.section-heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}
.section-heading:after {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}

.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}
@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.front .front-content{
  font-size: 10px;
  font-weight: 600;
}
.front:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}

.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}
.button:hover {
  transform: translateZ(55px);
}
.button:hover:before {
  transform: translateZ(-55px);
}
.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}


.front .title{
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.front .main-title{
  font-size: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.front .team-read-more{
  color: #000000;
}













/* TEAM SECTION STYLING ENDS */




 





.services .cards .card {
  background: #f2f2f2;
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}

.services .cards .card {
  padding: 0 0 20px;
}

/* .services .card i {
    font-size: 30px;
    color: #8bca62;
    margin-bottom: 30px;
}

.services .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

.services .cards .card p {
  padding: 0 15px;
  margin-top: 5px;
} */











/* CONTACT SECTION STYLING STARTS */

.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid #bfbfbf;
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
}

.contact form button:hover {
  background: #525252;
}

@media screen and (max-width: 860px) {

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }
}


/* CONTACT SECTION STYLING ENDS */







/* FOOTER SECTION STYLING STARTS */




footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
}

footer a {
  margin-left: 40px;
  text-decoration: none;
  color: rgb(4, 19, 28);
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

footer a:hover {
  color: #ddd;
}



@media screen and (max-width: 860px) {
  footer a {
    height: 0;
  }
}


/* FOOTER SECTION STYLING ENDS */









@media screen and (max-width: 860px) {

  /* section > p {
    text-align: center;
  } */

  .services .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }
}
/* 
@media screen and (max-width: 560px) {
  .services .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}  */
